![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [9]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [10]:

best_math_schools = schools[schools["average_math"] >= 640][["school_name", "average_math"]]
best_math_schools = best_math_schools.sort_values(by="average_math",ascending = False)

In [11]:
schools["total_SAT"] = schools["average_math"]+schools["average_reading"]+schools["average_writing"]
schools_sorted = schools.sort_values(by="total_SAT", ascending = False)
top_10_schools = schools_sorted.head(10)[["school_name","total_SAT"]]

In [12]:
grouped = schools.groupby("borough")["total_SAT"].agg(['std', 'mean', 'count'])

# Найти район с наибольшим стандартным отклонением
max_std_borough = grouped['std'].idxmax()
max_std_values = grouped.loc[max_std_borough]

# Создание DataFrame с результатами
largest_std_dev = pd.DataFrame({
    "borough": [max_std_borough],
    "num_schools": [max_std_values['count']],
    "average_SAT": [max_std_values['mean']],
    "std_SAT": [max_std_values['std']]
})

# Округление всех числовых значений до двух десятичных знаков
largest_std_dev = largest_std_dev.round(2)